.detailed-ticket-container {
    background-color: aqua;
    border:solid 2px slateblue;
    padding: 2rem;
    max-width: 50%;
    background-color: cadetblue;
    margin: 0 auto;
    margin-top: 10px;
}